$text-color: #e1e1e6;
$primary-color: #5A4FCF;
$secondary-color: #1B183F;

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-inline: 6rem;

  h1,
  a {
    padding: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;

  i {
    color: $primary-color;
  }
}

.navMenu {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li:hover {
    border-bottom: 2px solid $primary-color;

    a {
      color: $text-color;
    }
  }
}

.iconActive {
  display: none;
}

.close {
  display: none;
}


@media (max-width: 600px) {

  .container {
    padding: 0;
  }

  .logo {
    padding-left: 5rem;
  }

  .iconActive {
    display: block;
    z-index: 5;
    border: none;
    background-color: none;

    i {
      width: 100%;
    }
  }

  .navMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: $secondary-color;
    z-index: 4;

    a {
      color: white;
    }
  }


}