$text-color: #e1e1e6;
$primary-color: #5A4FCF;
$secondary-color: #1B183F;

.container {
  padding-inline: 6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  position: relative;
}

.box {
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6;
  text-align: justify;

  h5 {
    font-weight: 500;
  }

  h1 {
    color: $primary-color;
  }

  button {
    max-width: 19rem;
    color: $text-color;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: $secondary-color;
    border: none;
    border-radius: 1rem;
    margin-block: 1rem;
    font-weight: 500;
    text-transform: uppercase;

    i {
      padding-left: 1rem;
    }
  }

  button:hover {
    cursor: pointer;
    background-color: $primary-color;
  }
}

.image {
  width: 100%;
  align-self: center;
  justify-content: center;
  display: flex;

  img {
    width: 80%;
    border-radius: 2rem;
  }
}