$text-color: #e1e1e6;
$primary-color: #5A4FCF;
$secondary-color: #1B183F;

.container {
  padding-inline: 6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  position: relative;
}

.icon {
  width: 3.5rem;
  padding-left: 1rem;
}

.box {
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6;
  text-align: justify;

  h5 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  h1 {
    color: $primary-color;
    font-size: 3.2rem;
  }

  p {
    font-size: 1.6rem;
  }

  button {
    max-width: 35rem;
    color: $text-color;
    display: flex;
    align-items: center;
    padding: 2.8rem 2rem;
    background-color: $secondary-color;
    border: none;
    border-radius: 1rem;
    margin-block: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    justify-content: center;
  }

  button:hover {
    cursor: pointer;
    background-color: $primary-color;
  }
}

.image {
  width: 100%;
  align-self: center;
  justify-content: center;
  display: flex;
  padding-left: 10rem;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-block: 2rem;
  }

  .image {
    img {
      width: 100%;
    }
  }
}