@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$text-color: #e1e1e6;
$primary-color: #5A4FCF;
$secondary-color: #1B183F;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: $text-color;
  /* 16px */
}

p,
li {
  font-size: 1.4rem;
  /* 14px */
}

ul,
li,
a {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: $primary-color;
  font-weight: 700;
}